@use './../variables' as *;

nav {
  z-index: 1000;
  background-color: $color-bg-primary;
  position: fixed;
  width: 100%;
  border-bottom: solid 1px $color-border;

  padding: 1rem;

  display: flex;
  justify-content: space-between;

  span {
    color: $color-accent-primary;

    &::before {
      content: '<';
      color: $color-text-muted;
    }
    &::after {
      content: '/>';
      color: $color-text-muted;
    }
  }

  input {
    display: none;
  }

  input:not(:checked) ~ ul {
    display: none;

    @media (min-width: $breakpoint-xxl) {
      display: flex;
      gap: $fluid-1-2;
    }
  }

  input:checked ~ label,
  input:checked ~ span {
    position: fixed;
    z-index: 100;
  }

  label {
    position: absolute;
    right: 1rem;

    @media (min-width: $breakpoint-xxl) {
      display: none;
    }

    &::before {
      content: '';
      background-image: url('/src/assets/images/hamburger-icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      height: 1.5rem;
      width: 1rem;

      display: flex;
      align-items: center;
    }
  }

  ul {
    background-color: $color-bg-primary;
    position: fixed;
    inset: 0;
    padding-top: 3.5rem;
    padding-left: 0.5rem;
    height: 100vh;

    @media (min-width: $breakpoint-xxl) {
      position: relative;
      height: auto;
      padding: 0;
    }

    li {
      @media (min-width: $breakpoint-xxl) {
        margin-bottom: 0;
      }

      a {
        color: $color-text-primary;
        text-decoration: none;

        &:hover {
          color: $color-accent-secondary;
          text-decoration: underline;
        }
      }
    }
  }
}
