@use './../variables' as *;

.experience {
  background-color: $color-bg-primary;
  color: $color-text-primary;

  display: flex;
  flex-direction: column;

  .cards-wrapper {
    display: grid;
    gap: $fluid-1-2;
  }

  @media (min-width: $breakpoint-xl) {
    .cards-wrapper {
      .card {
        justify-content: start;
        gap: 1rem;

        .logo-wrapper {
          justify-content: left;
          margin: 0;

          img {
            max-width: 150px;
            border-radius: 0;
          }
        }

        .heading {
          font-size: $fluid-1-2;
          font-weight: 500;
          align-items: baseline;

          .period {
            height: fit-content;
            font-size: 1.1rem;
          }
        }
      }
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: $fluid-1-2;

    .logo-wrapper {
      display: flex;
      gap: $fluid-1-2;
      margin-block: 2rem;
      align-items: center;
      justify-content: space-around;

      img {
        max-height: 100px;
      }
    }

    .content-wrapper {
      .heading {
        color: $color-accent-secondary;
        border-bottom: solid 1px $color-text-primary;
        margin-bottom: $fluid-1-2;

        @media (min-width: $breakpoint-md) {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  a {
    text-align: center;
    color: $color-accent-secondary;
  }
}
