@use './../variables' as *;

.experience {
  background-color: $color-bg-primary;
  color: $color-text-primary;

  display: flex;
  flex-direction: column;
  gap: $fluid-2-4;

  .cards-wrapper {
    display: grid;
    gap: $fluid-1-2;
  }

  @media (min-width: $breakpoint-xl) {
    .cards-wrapper {
      grid-template-columns: 1fr 1fr;

      .card {
        justify-content: start;

        .logo-wrapper {
          flex-direction: column;

          img {
            display: flex;
            margin: auto;
            max-height: fit-content;
            max-width: calc(100% - 8rem);
          }
        }
      }
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: $fluid-1-2;

    .logo-wrapper {
      display: flex;
      gap: $fluid-1-2;
      margin-block: 2rem;
      align-items: center;
      justify-content: space-around;

      img {
        max-height: 100px;
      }
    }

    .content-wrapper {
      .heading {
        color: $color-accent-secondary;
        border-bottom: solid 1px $color-text-primary;
        margin-bottom: $fluid-1-2;

        @media (min-width: $breakpoint-md) {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  a {
    text-align: center;
    color: $color-accent-secondary;
  }
}
