@use './../variables' as *;

footer {
  background-color: $color-border;
  color: $color-text-primary;

  display: flex;
  flex-direction: column;
  gap: $fluid-1-2;

  h4 {
    margin-top: $fluid-2-4;
  }
}
