@use './../variables' as *;
@use './../typography' as *;

footer {
  background-color: $color-border;
  color: $color-text-primary;

  @media (min-width: $breakpoint-md) {
    text-align: center;
  }
}

.copyright {
  color: $color-text-muted;
  background-color: $color-bg-primary;
  font-size: $font-size-xs;
  padding: 0.25rem;

  text-align: right;
}
