@use './../variables' as *;

.hero {
  background-color: $color-bg-primary;
  color: $color-text-primary;
  padding-top: calc(2 * $fluid-2-4);

  .heading {
    display: flex;
    gap: $fluid-1-2;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: $fluid-1-2;
    }

    img {
      max-width: 150px;

      @media (min-width: $breakpoint-lg) {
        display: none;
      }
    }
  }

  h4 {
    max-width: 700px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: $fluid-1-2;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
      flex-shrink: 0;
      flex-grow: 1;
    }
  }

  .location {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 0.5rem;
    color: $color-text-secondary;

    .map-pin-icon {
      max-width: 1.5rem;
    }
  }

  .socials {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
