@use './../variables' as *;

.projects-and-courses {
  background-color: $color-bg-surface;
  color: $color-text-primary;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .cards-wrapper {
    display: grid;
    gap: 1rem;
  }

  .projects,
  .other-projects {
    .cards-wrapper {
      @media (min-width: $breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: $breakpoint-lg) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  .courses {
    .cards-wrapper {
      @media (min-width: $breakpoint-xl) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .card {
    padding: 0;
    border-radius: 1rem;
    position: relative;

    p {
      color: $color-text-secondary;
    }

    .technology {
      position: absolute;
      top: 0.75rem;
      right: 0.75rem;

      height: 2.25rem;
      aspect-ratio: 1/1;
      background-color: $color-border;

      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        scale: 1.5;
      }

      &::before {
        content: '';
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 1.5rem;
        aspect-ratio: 1/1;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      $technologies: (
        'vuejs': '/src/assets/images/technology-icons/vue-js-logo.png',
        'react': '/src/assets/images/technology-icons/react-logo.png',
        'javascript': '/src/assets/images/technology-icons/javascript-logo.png',
        'html': '/src/assets/images/technology-icons/html5-logo.png',
        'css': '/src/assets/images/technology-icons/css-logo.png',
        'typescript': '/src/assets/images/technology-icons/typescript-logo.png',
      );

      @each $technology-name, $technology-image in $technologies {
        &.#{$technology-name} {
          &::before {
            background-image: url($technology-image);
          }
        }
      }
    }
  }
}
