@use './scss/reset';
@use './scss/variables' as *;
@use './scss/typography';

@use './scss/components/navigation';
@use './scss/components/card';
@use './scss/components/ul';
@use './scss/components/button';

@use './scss/sections/hero';
@use './scss/sections/about';
@use './scss/sections/tech-stack';
@use './scss/sections/experience';
@use './scss/sections/projects-and-courses';
@use './scss/sections/footer';

html {
  scroll-behavior: smooth;
}

section,
footer {
  display: grid;
  padding: $fluid-2-4 $fluid-1-2;
  gap: $fluid-1-2;

  > * {
    max-width: $breakpoint-xl;
    width: 100%;
    margin-inline: auto;
  }
}
